:root{

  --brand-light:#FFFFEC;
  --brand-light2:#F1E4C3;
  --brand-brown:#C6A969;
  --brand-green:#597E52;
  --brand-green2:#02220a;
}
*{
  box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-size: 15px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

